.icon-search:before { content: '\e803'; } /* '' */
.icon-inst:before { content: '\e804'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */